html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-repeat: repeat;
}

.ql-toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: none;
}
